<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.golinks.server</string>
	<key>ProgramArguments</key>
	<array>
		<string>__GOLINKS_BIN__</string>
		<string>serve</string>
		<string>-addr</string>
		<string>:8080</string>
		<string>-db</string>
		<string>__GOLINKS_DB__</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>__GOLINKS_LOG_DIR__/stdout.log</string>
	<key>StandardErrorPath</key>
	<string>__GOLINKS_LOG_DIR__/stderr.log</string>
</dict>
</plist>
